html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
}

body {
	font-family: "Inter", sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #241A04;
	background-color: #FFFFFF;
	margin-bottom: 24px;
  letter-spacing: 0px;
}

b {
  font-weight: 700;
}

li {

  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #241A04;
  max-width: 900px;
  margin-left: 48px;
  margin-top: 24px;

}

.w-nav-link {
  vertical-align: top;
  color: #241A04;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.w-nav-menu {
  float: right;
  position: relative;
}

.navigation {
  color: #fff;
  background-color: #0000;
  align-items: center;
  padding: 80px 80px 0;
  display: flex;
}


.navigation-wrap {
  align-items: center;
  margin-right: 0;
  display: flex;
  position: static;
}

.navigation-item {
	opacity: 1;
  color: #241A04;
  text-transform: none;
  padding: 0 0 0 40px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}


.navigation-items {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
}


.work-hero {
  margin-top: 96px;
  margin-bottom: 96px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
}



.heading {
  color: #241A04;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  line-height: 18px;
}

.heading-2 {
  color: #241A04;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 800px;
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
}

.heading-3 {
  color: #241A04;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.hero-img {

	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1100px;

}

.heading-jumbo
{
	font-family: "Inter", sans-serif;
	color: #241A04;
	font-weight: 800;
	font-size: 60px;
	max-width: 1100px;
	letter-spacing: 0px;
  margin: 0px;

}


.summary {

  background-color: #FFDFA0;
  padding-top: 60px;
  padding-bottom: 12px;
  display: flex;

}

.summary-title {
  font-family: "Inter", sans-serif;
  color: #241A04;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 18px;
  margin: 0px;
}

.prob-sol-copy {

  font-family: "Inter", sans-serif;
  color: #241A04;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 30px;
  margin-top: 8px;
  max-width: 600px;
  margin-bottom: 48px;
}

.role-copy {

  font-family: "Inter", sans-serif;
  color: #241A04;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 30px;
  margin-top: 8px;
  max-width: 384px;
  margin-bottom: 32px;

}

.row-summary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1100px;
  margin-left:auto;
  margin-right: auto;

}


.column-prob-sol {
      flex: 600px; 
  }

.column-role {
  flex: 300px;
}


.row-two-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1100px;
  margin-left:auto;
  margin-right: auto;
}

.col-two-img {
  flex: 50%;
}


.work-img-full {

  margin-top: 96px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;

} 

.work-img-half {
  margin-left: auto;
  margin-right: auto;
  max-width: 534px;
}

.work-img-sub-full {

  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;

}

.work-img-sub-column {

  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 96px;

}

.work-img-sub-full-no-caption {

  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 128px;
  max-width: 900px;

}



.caption-img {

  font-family: "Inter", sans-serif;
  color: #241A04;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 136px;
  margin-left: 0;
  margin-top: 20px;
  margin-right: auto;
  max-width: 720px;

}

.caption-img-half {

  font-family: "Inter", sans-serif;
  color: #241A04;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin-left: 0;
  margin-top: 20px;
  margin-right: auto;
  max-width: 534px;

}

.caption-sub-img {

  font-family: "Inter", sans-serif;
  color: #241A04;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  margin-top: 16px;
  margin-bottom: 128px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  text-align: center;

}

.work-intro {

	margin-top:32px;
	max-width: 720px;
	font-family: "Inter";
	font-size: 16px;
	font-weight: 300;
	font-style: italic;
	line-height: 24px;
	letter-spacing: 0px;
}


.work-text {

  color: #241A04;
  align-self: center;
  align-items: center;
  max-width: 720px;
  margin-top: 40px;
  margin-bottom: 0px;
  margin-left: 0;
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 30px;

}


.work-text-column {

  color: #241A04;
  align-self: center;
  align-items: center;
  max-width: 304px;
  margin-top: 32px;
  margin-bottom: 0px;
  margin-left: 0;
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 30px;

}


.work-text-section {
  width: 1100px;
  margin-top: 160px; 
  margin-left: auto;
  margin-right: auto;
  
}

.work-text-subsection {
  width: 900px;
  margin: 96px auto;
  
}


.work-value {
  color: #241A04;
  margin-top: 8px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
