body {

	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #212529;
	background-color: #fff;
	margin-bottom: 24px;
}

a {
  padding: 0;
  color: #0645AD;
  font-weight: 700;
  text-decoration: none;
}

a.underline {
  border-bottom: 0.08em solid #0645AD;
}

a.backHome {
  font-size: 14px;
}

a:hover {
  color: #0645AD;
  font-weight: 700;
  opacity: .5;
}

a:visited {
  color: #0645AD;
}

b {
	font-weight: bold;
}

h1 {
	font-size: 48px;
	font-weight: bold;
	color: white;
	margin-bottom: 0px;
	letter-spacing: 0rem;
}

h2 {
	margin-bottom: 24px;
	font-size: 24px;
	font-weight: 600;
	line-height: 36px;
	letter-spacing: 0rem;
}

h3 {
	font-size: 18px;
	margin-bottom: 24px;
	font-weight: 600;
	letter-spacing: 0rem;
}

img {
	width: 100%;
	display: block;
	margin-left:auto;
	margin-right: auto;
}

img.small {
	margin: auto;
	width: 276px;
/*	display: block;
	margin-left:auto;
	margin-right: auto;*/
	margin-bottom: 18px;
	font-size: 16px;
}

p {
	margin-bottom: 24px;
}

p.end {
	margin-bottom: 0px;
}

p.list {
	text-align: right;
}

.target {
	background-color: #F2534B;
}

.brilinta {
	background-color: #794080;
}

.pfizer {
	background-color: #00ACEC;
}

.coke-zero {
	background-color: #4A4A4A;
}

.mcdonalds {
	background-color: #007853;
}

.bottom-navigation {
	width: 100%;
}

.center {
	text-align: center;
}

.diagram-caption {
	margin-top: 32px;
	font-size: 16px;
	font-style: italic;
	text-align: center;
}

.document-caption {
	font-size: 16px;
	font-style: italic;
	text-align: center;
	margin-bottom:  24px;
}

.end-section {
	margin-bottom: 96px;
}

.header {
	height: 80px;
}

.hero-parent {
	height: 360px;
	display: table; 
	width: 100%;
}

.hero-header {
	line-height: 57px;
	display: table-cell;
	vertical-align: middle;
}

.img-caption {
	margin-top: 16px;
	font-size: 16px;
	font-style: italic;
	text-align: center;
}

.img-caption-no-italics {
	margin-top: 16px;
	font-size: 16px;
	width: 276px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
}

.img-header {
	margin-top: 0;
	margin-bottom: 24px;
	font-style: italic;
	text-align: center;
}

.img-section {
	margin-top: 72px;
	margin-bottom: 96px;
}

.img-separation {
	margin-top: 48px;
}

.left {
	width: 276px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.next-page {
	height: 124px;
	display: table;
	width: 50%;
	float: left;
}

.next-page-header {
	font-size: 18px;
	font-weight: 700;
	color: white;
	text-align: right;
	display: table-cell;
	vertical-align: middle;
	padding-right: 48px;
}

.previous-page {
	height: 124px;
	display: table;
	width: 50%;
	float: left;
}

.previous-page-header {
	font-size: 18px;
	font-weight: 700;
	color: white;
	text-align: left;
	display: table-cell;
	vertical-align: middle;
	padding-left: 48px;
}

.project-role {
	margin-bottom: 96px;
}

.small-header {
	font-size: 18px;
	margin-bottom: 24px;
	font-weight: 600;
}

.summary {
	margin-top: 96px;
	margin-bottom: 96px;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
	line-height: 36px;
}

.videoEmbed {
  margin-top: 24px; 
  margin-bottom: 48px; 
  margin-left: auto;
  margin-right: auto;
}


.project-role ul {
	line-height: 42px;
	list-style-type: circle;
}



.project-role li {
	list-style-position: outside;
	margin-left: 20px;
}


.numbered-list ol {
	list-style-position: outside;
}

.numbered-list li {
	margin-left: 20px
	padding-left: 20px;
}

